body {
    background-color: #aad4cf;
    font-family: arial, sans-serif;
}

/* The whole middle part of the website */
#content {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #D8E8E7;
}

/* The starfish image and the h1 text  */
#top {
    position: relative;
}

/* The starfish image on the top */
#banner {
    width: 100%;
    height: auto;
}

main {
    padding: 10px;
}

h1 {
    font-weight: lighter;
    font-size: 50px;
    color: white;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
}

/* The small starfish image on the left */
#starfish {
    position: relative;
    width: 150px;
    height: auto;
    float: left;
    margin-right: 20px;
}

/* The navigation bar */
#menu {
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}

/* The items inside navigation bar */
.menu-item {
    display: table-cell;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

#home {
    border-right: 1px solid black;
}

#story {
    border-right: 1px solid black;
}

#form {
    border-style: solid;
    padding: 0px 5px 5px 5px;
    line-height: 1.5rem;
}

/* All text and input boxes inside the form */
.labels {
    margin: 10px 5px 5px 5px
}

#name {
    width: 99%;
}

#email {
    width: 99%;
}

#message {
    width: 99%;
    height: 80px;
}

button {
    background-color: #D8E8E7;
    margin-top: 10px;
    padding: 10px;
}

footer {
    text-align: right;
    padding: 30px;
}